.header {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--bg-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 75px;
}

.cart-button {
  align-self: center;
  justify-self: flex-end;
}

.cart-button > img:hover {
  filter: brightness(0.8);
}
