.header {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--bg-gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 75px;
}

.cart-button {
  position: fixed;
  top: 15px;
  align-self: center;
  justify-self: flex-end;
  text-decoration: none;
  z-index: 3;
}

.cart-items-quantity {
  position: absolute;
  color: var(--white);
  font-weight: 700;
  font-size: 0.8rem;
  background: var(--red);
  border-radius: 50px;
  height: 19px;
  width: fit-content;
  min-width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -7px;
  top: 3px;
  cursor: pointer;
}
